
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Admin Ekleme Sayfası</h4>
<br />
<form class="form-group" method="post">

    <input type="text" name="UserName" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="password" name="Password" class="form-control" placeholder="Şifresi" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

